.view-uw-vending-machine-locations .view-grouping-header {
  clear: both;
  font-weight: bold;
  border-bottom: thin solid #aaa;
  margin: 1.0em 0 0;
}

.view-uw-vending-machine-locations .views-exposed-widgets {
  clear: both;
}

#views-exposed-form-uw-vending-machine-locations-page-1 input[type=submit] {
  padding: 5px 10px;
  font-size: 1em;
}

.view-uw-vending-machine-locations .view-grouping-content {
  padding: .3em 0;
}

.vending_machines {
  padding: .5em 0 .5em 2.0em;
}
.vending_machines ul {
  padding: 0 0 0 2.7em;
}

.vending_location_title {
  padding: .5em 2.0em 0;
}

.vending_location_title {
  font-weight: bold;
}

#node_uw_fs_vending_machine_form_group_vending_machine_info .form-item-field-vending-machine-building-und-0-value {
  display: none;
}

#edit-field-vending-machine-map-und-0 {
  display: none;
}

#edit-field-vending-machine-location-tid-wrapper select,
#edit-field-vending-machine-product-tid-wrapper select {
  min-width: 17em;
  max-width: 17em;
  padding: 0.3em;
  margin-bottom: 1em;
}

#edit-field-vending-machine-building-value-wrapper input[type=text] {
  padding: 0.3em;
  min-width: 15.2em;
  max-width: 15.2em;
  width: 100%;
}

.view-id-uw_vending_machine_locations .vending_machines ul li,
.view-id-uw_vending_machine_locations .vending_machines ul {
  margin: 0;
}

.view-id-uw_vending_machine_locations .item-list {
  margin-top: 2em;
}

#views-exposed-form-uw-vending-machine-locations-page-1 .views-exposed-widget.views-submit-button {
  margin-top: .5rem;
}
